/*WDD130 White Water Rafting Project*/
:root {
    --primary-color: #342b1e;
    --secondary-color: #43be7d;
    --accent1-color: #cfcb89;
    --accent2-color: #05668d;

    --default-font-size: 20px;
    --body-font: "Moderustic", system-ui;
    --header-font: "Edu AU VIC WA NT Hand", system-ui;
}
header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}
header{
    background-color: var(--secondary-color);
	display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}
header img {
    margin: 1rem 1rem 1rem 6rem;
    height: 100px;
}
header nav {
    text-align: center;
    margin: 0 6rem 0 6rem;
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.navigation li {
    flex: 1 1 100%;
}
.navigation a {
    display: block;
    color: #342b1e;
    padding: 20px;
    font-weight: 700;
    text-decoration: none;
}
.navigation a:hover {
    color: #05668d;
    font-weight: 900;
}
body {
    font-family: var(--body-font);
}
.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-us {
    background-color: #cfcb89;
    color: #342b1e;
    margin: 1em;
    padding: 1em;
    border: #342b1e solid 2px;
}
.email {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #cfcb89;
    color: #342b1e;
    margin: 1em;
    border: #342b1e solid 2px;
}
.email img {
    float: left;
    max-height: 100px;
    margin: 1em;
}
.phone {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #cfcb89;
    color: #342b1e;
    margin: 1em;
    border: #342b1e solid 2px;
}
.phone img {
    float: left;
    max-height: 100px;
    margin: 1em;
}
.contact-company {
    grid-column: 2/3;
    grid-row: 1/4;
    background-color: #342b1e;
    color: #cfcb89;
    margin: 1em;
    padding: 1em;
    border: #cfcb89 solid 2px;
}
.contact-company button {
    color: #342b1e;
    background-color: #cfcb89;
}
.contact-company input{
    background-color: #cfcb89;
    color: #342b1e;
}
.contact-company select {
    background-color: #cfcb89;
    color: #342b1e;
}
.contact-company textarea {
    background-color: #cfcb89;
    color: #342b1e;
}
.location{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: #342b1e solid 2px;
    background-color: #43be7d;
    color: #342b1e;
    margin: 1em;
}
.location img {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 1em;
}
.location p {
    grid-column: 2/3;
    grid-row: 2/3;
}
.location iframe{
    grid-column: 3/4;
    grid-row: 2/3;
    max-height: 200px;
    max-width: 500px;
    padding: 1em;
}
.location h2 {
    grid-column: 1/4;
}
.leaders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #cfcb89;
    font-weight: 500;
    color: #342b1e;
    border: #342b1e solid 2px;
    margin: 0 0 1em 0;
}
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
    background-color: #05668dad;
    color: #fff;
}
p {
    padding: 0;
    font-family: var(--body-font);
}
h1 {
    font-family: var(--header-font);
}
.hero article img {
    max-width: 200px;
    float: right;
    background-color: #05668dad;
}
article{
    position: absolute;
    background-color: #05668dad;
    color: #fff;
    top: 150px;
    left: 10%;
    right: 10%;
    padding: 1em;
}
h2 {
    font-family: var(--header-font);
    color: #342b1e;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
}
p {
    margin: 1rem;
}
.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.adventure h2 {
    grid-column: 1/6;
}
figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
figure img {
    max-height: 160px;
    width: fit-content;
}
figcaption{
    background-color: #cfcb89;
    color: #342b1e;
    padding: 3px;
    text-align: center;
}
footer{
    display: flex;
    justify-content: end;
    font-family: var(--body-font);
    font-size: var(--default-font-size);
    background-color: #342b1e;
    padding: 1em;
    color: #cfcb89;
    text-align: center;
    font-weight: 500;
}
footer nav a {
    text-decoration: none;
}
.newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #342b1e;
}
.newsletter h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    color: #cfcb89;
    margin: 2em;
}
.newsletter form {
    margin: 2em;
    padding: 1em;
    color: #cfcb89;
}
.newsletter input {
    background-color: #cfcb89;
    color: #342b1e;
}
.newsletter button {
    background-color: #cfcb89;
    color: #342b1e;
}
.call-to-action {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
}
.teal-double-drop img{
    max-width: 200px;
    margin: 2em;
    grid-column: 2/4;
    grid-row: 1/2;
}
.big-mallard img {
    max-width: 200px;
    margin: 2em;
    grid-column: 2/4;
    grid-row: 2/3;
}
.adventure-awaits {
    background-color: #cfcb89;
    margin: 1em;
    padding: 1em;
    border: #342b1e solid 2px;
    grid-column: 1/2;
    grid-row: 1/3;
}
.adventure-awaits a {
    text-decoration: none;
    font-weight: 700;
    float: right;
}
.adventure-awaits a:hover {
    color: #05668d;
}
table {
    border-collapse: collapse;
    border: #342b1e solid 2px;
    letter-spacing: 1px;
    padding: 1em;
    margin: 1em;
}
caption {
    padding: 10px;
    font-weight: bold;
    color: #342b1e;
}
th, td {
    border: #342b1e solid 2px;
    padding: 8px 10px;
}
td {
    text-align: center;
}
thead {
    background-color: #342b1e;
    color: #cfcb89;
}
tbody {
    background-color: #cfcb89;
    color: #342b1e;
}
.cta-trips {
    background-color: #05668d;
    color: #fff;
    padding: 0 2em 2em 2em;
    margin: 1em;
    border: #342b1e solid 2px;
}
.cta-trips a{
    float: right;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.cta-trips a:hover {
    color: #43be7d;
}
.descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.descriptions img {
    max-width: 180px;
    margin: 2em;
}
.half-days-adventure {
    border: #cfcb89 solid 2px;
    margin: 1em;
    background-color: #342b1e;
    color: #cfcb89;
}
.half-days-adventure h2 {
    color: #cfcb89;
}
.backbone-creek {
    border: #342b1e solid 2px;
    margin: 1em;
    background-color: #05668d;
    color: #fff;
}
.backbone-creek h2 {
    color: #fff;
}
.los-dientes-del-diablo {
    border: #342b1e solid 2px;
    margin: 1em;
    background-color: #43be7d;
}