:root {
    --primary-color: #342b1e;
    --secondary-color: #43be7d;
    --accent1-color: #cfcb89;
    --accent2-color: #05668d;

    --default-font-size: 20px;
    --body-font: "Moderustic", system-ui;
    --header-font: "Edu AU VIC WA NT Hand", system-ui;
}
header, main, footer {
    max-width: 1200;
    margin: 0 auto;
}
nav header {
    display: flex;
    justify-content: space-around;
}
header{
    background-color: var(--secondary-color);
	display: grid;
}
body {
    font-family: var(--body-font);
}
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
    background-color: #05668dad;
    color: #fff;
}
p {
    padding: 0;
    font-family: var(--body-font);
}
h1 {
    font-family: var(--header-font);
}
.hero article img {
    max-width: 200px;
    float: right;
    background-color: #05668dad;
}
article{
    position: absolute;
    background-color: #05668dad;
    color: #fff;
    top: 150px;
    left: 10%;
    right: 10%;
    padding: 1em;
}
h2 {
    font-family: var(--header-font);
    color: #342b1e;

}
footer{
    font-family: var(--body-font);
    font-size: var(--default-font-size);
    background-color: #342b1e;
    padding: 1em;
    color: #cfcb89;
    text-align: center;
}
a {
    text-decoration: none;
}