nav {
    background-color: #336447;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: #336447;
}
img {    
    border: 1px solid #336447;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}
main img{
    width: 150px;
    height: auto;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    max-width: 200px;
    margin: 1em;
    border: 1px solid #336447;
    padding: 2em;
    background-color: #e3e3e3;
    color: #336447;
}

aside img {
    width: 200px;
    height: auto;
}
footer{
    margin: 1em 0 0 0;
    border-top: 1px solid #000;
    text-align: center;
    color: #f3f3f3;
    background-color: #336447;
    padding: 1em;
}
